:root {
    /* here is our variable for colors will be using */
    --White: #ffffff;
    --Light: #d9dcd6;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--Light);
}

/* Here is our nav bar declaration */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a607c;
    color: var(--White);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 20px;
}

#horiseon {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    color: var(--White);
    margin-right: 25px;
}

#seo {
    color: var(--Light);
}

menu {
   margin: 0;
   padding: 0;
   display:flex;
}

menu li {
    list-style: none;
}

/* `transition` allows us to change the property value smoothly over a given time */
menu a {
    text-decoration: none;
    color: var(--White);
    padding: 10px;
    display: block;
    transition: all 0.3s ease 0s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;
}

menu a:hover {
    color: #b7bec1;
    text-align: center;
  }
  
picture img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


/* Here is our main content declaration */
main {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: var(--White);
}

.card img {
    max-height: 200px;
}

.card h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* Section image floating on the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Section image floating on the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Aside content declaration */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

figure {
    margin-bottom: 32px;
    color: var(--White);
}

figure h3 {
    margin-bottom: 10px;
    text-align: center;
}

figure img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

figcaption {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

@media screen and (max-width: 992px) {

    /* Make nav bar stack in colunn when in smaller screen */
    Nav, li  {
        flex-direction: column;
        align-items: flex-start;
    }

   menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

   /* Make the image fit to the full width of the container for narrow screen */
    picture img {
        height: auto;
        max-width: 100%;
    }

    main {
      flex-direction: column;
      width: 100%;
      margin: 0;
    }

    .card {
        height: 50%;
    }

    .card h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .card img {
        max-height: 100px;
    }
    
    /* It make the sidebar stack below the main content */
    aside {
        flex-direction: column;
        order: 2;
        width: 100%;
        margin: 0;
        text-align: center;
        height: 50%;
    }
  
  }
